<h2><%= @user.username %>'s Page</h2>

<h3>Posts</h3>

<% @user.posts.each do |post| %>
<div>
	<p><%= link_to post.title, post_path(post) %>
      <%= post.content %>
      Submitted <%= time_ago_in_words(post.created_at) %> ago</p>
</div>
<%= will_paginate @posts %>
<% end %> 
