<h1>All Posts</h1>
<div class="column1"> 
  <%= render 'shared/sub_header' %>

  <% @posts.each do |post| %>
  <div>
    <p><%= link_to post.title, post_path(post) %></p>
    Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user)  %> to <%= link_to post.sub.name, sub_path(post.sub) %>
  </div>
  <% end %>

</div>


<div class="column2">
  <%= render 'shared/login_links' %>
</div>

